# List, set and Dictionary Comprehension

List Comprehensions are a convenient and widely used Python language feature.
It allows you to concisely form a new list by filtering the elements of a collection, transforming the elements passing the filter into one concise expression.

In [2]:
# filter out the string with length greater than 2 and convert them to uppercase.

string = ['a', 'b', 'cab', 'python', 'cd']

result = []

for i in string:
    if len(i) > 2:
        result.append(i.upper())
print(result)

['CAB', 'PYTHON']

In [3]:
# using list comprehension for the same code

string = ['a', 'b', 'cab', 'python', 'cd']

[i.upper() for i in string if len(i) > 2]

['CAB', 'PYTHON']

In [4]:
unique_length = {len(i) for i in string}
unique_length

{1, 2, 3, 6}

In [17]:
# Nested list comprehension 

all_data = [['edward', 'alice', 'john', 'charlie'], 
            ['ron', 'harry', 'hermione']]

all_data

[['edward', 'alice', 'john', 'charlie'], ['ron', 'harry', 'hermione']]

In [22]:
strings = ['name', 'example']

for i in strings:
    x = i.count('a')
    print(x)

1
1

In [28]:
# We want to get a single list containing with one or more a's in them 

names_of_interested = []

for names in all_data:
    found = [name for name in names if name.count('a') >= 1]
    names_of_interested.extend(found)
    
names_of_interested

['edward', 'alice', 'charlie', 'harry']

In [30]:
# list comprehension for the above code

result = [name for names in all_data for name in names if name.count('a') >=1]

result

['edward', 'alice', 'charlie', 'harry']

### Functions

Functions are the primary and most important method of code organization and reuse in python.
Functions are declared with the def keyowrd. A function contains a block of code with an optional use of the return keyword.

In [31]:
def my_function(x,y):
    return x+y

In [32]:
my_function(10, 20)

30

In [33]:
result = my_function(20, 30)
result

50

In [34]:
def func_witht_return(x):
    print(x)
    
result = func_witht_return('hello')

print(result)

hello
None

In [37]:
def func_with_return(x):
    print(x)
    return x
    
result = func_with_return('hello')

print(result)

hello
hello

In [38]:
a = int(input())
def my_fnc(x, y, z):
    if z > 1:
        return z*(x+y)
    else:
        return z/(x+y)
    
my_fnc(10, 20, a)

150

In [39]:
def my_fnc_with_default(x, y, z=1.5):
    if z > 1:
        return z*(x+y)
    else:
        return z/(x+y)

my_fnc_with_default(10, 20)

45.0

In [40]:
my_fnc_with_default(20, 20, 6)

240

In [41]:
my_fnc_with_default(x=30, y=15, z=2) #positional argument

90

In [42]:
def func():
    a=[]     #local in function
    for i in range(5):
        a.append(i)
        
func()

print(a)

5

In [43]:
a = []    #global 
def func():
    for i in range(5):
        a.append(i)
        
func()

print(a)

[0, 1, 2, 3, 4]

In [44]:
def func():
    global a
    a=[]
    for i in range(5):
        a.append(i)

func()

print(a)

[0, 1, 2, 3, 4]

In [46]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

print(a, b, c)

5 6 7

In [47]:
def f():
    a = 5
    b = 6
    c = 7
    return {"a": a, "b" : b, "c" : c}

f()

{'a': 5, 'b': 6, 'c': 7}

In [55]:
states=["  Alabama  ","Georgia!","georgia","Georgia","FlOrida",
       "south carolina##","West virginia?"]

import re   # regular expressions

def clean_strings(strings):
    result = []
    for i in strings:
        i = i.strip()
        i = i.title()
        i = re.sub("[!#?]", "", i)
        result.append(i)
    return result
    
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

### Lambda Functions

Python has support for anonymous or lambda functions, which are a way of writing functions consisting of a single statement, the result of which is the return value.

In [56]:
def short_function(x):
    return x*2

short_function(20)

40

In [57]:
equiv = lambda x:x*2
equiv(20)

40

In [58]:
value = lambda x:x**2
value(8)

64

In [59]:
multi_value = lambda x,y : x**y
multi_value(4,2)

16

In [60]:
def apply_to_list(some_list,f):
    return [f(x) for x in some_list]

ints=[4,0,1,5,6]

apply_to_list(ints, lambda x:x*2)

[8, 0, 2, 10, 12]

In [62]:
strings=["foo","card","bar","aaaa","abab"]

strings.sort(key=lambda x:len(set(x)))

strings

['aaaa', 'foo', 'abab', 'bar', 'card']

## Errors and Exception Handling

In [63]:
int(23.67)

23

In [64]:
int("something")

ValueError: invalid literal for int() with base 10: 'something'

In [65]:
int("123")

123

In [69]:
# The code in the except part of the block will only be executed if float(x) raises and exception

def attempt_int(x):
    try:
        return int(x)
    except:
        return x
    
attempt_int('123')

123

In [70]:
attempt_int('something')

'something'